<section id="team" class="team section-bg">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Our <strong>ASSISTANTS</strong></h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" *ngFor="let m of assistantTab">
        <app-one-assistant [x]="m"></app-one-assistant>
      </div>

    </div>

    <div id="dislpay" >
    <button type="submit" (click)="displayAll()" style="text-align: center;"  >Display ALL</button>
  </div>
  </div>
</section>