
    <div class="member" data-aos="fade-up">
      <div class="member-img">
        <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
        <div class="social">
          <a href=""><i class="bi bi-twitter"></i></a>
          <a href=""><i class="bi bi-facebook"></i></a>
          <a href=""><i class="bi bi-instagram"></i></a>
          <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
      <div class="member-info">
        <p>First Name :{{user.FirstName}}</p>
        <p>Last Name :{{user.lastName}}</p>
        <p>Tel :{{user.tel}}</p>
        <p>Email :{{user.email}}</p>
      </div>
    </div>
  
